.main-container {
    height: calc(100% - 136px);

    .title {
        text-align: center;
        font: 500 20px Roboto;
    }

    .description {
        text-align: center;
        padding-bottom: 50px;
    }

    .filter-input {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }

    .table-container {
        height: calc(100% - 228px);
        padding: 0 10px;
        overflow: auto;

        .university-table {
            width: 100%;
            min-width: 700px;
        }
    }
}

// Small Screen
@media (max-width: 700px) {
    
    .main-container {
        height: calc(100% - 238px);        
    }
}